nbproject/
*.o

CMakeCache.txt
CMakeFiles/
Debug/
Makefile
cmake_install.cmake
test_conformance/CMakeFiles/
test_conformance/allocations/CMakeFiles/
test_conformance/allocations/cmake_install.cmake
test_conformance/api/CMakeFiles/
test_conformance/api/cmake_install.cmake
test_conformance/atomics/CMakeFiles/
test_conformance/atomics/cmake_install.cmake
test_conformance/basic/CMakeFiles/
test_conformance/basic/cmake_install.cmake
test_conformance/buffers/CMakeFiles/
test_conformance/buffers/cmake_install.cmake
test_conformance/cmake_install.cmake
test_conformance/commonfns/CMakeFiles/
test_conformance/commonfns/cmake_install.cmake
test_conformance/compiler/CMakeFiles/
test_conformance/compiler/cmake_install.cmake
test_conformance/computeinfo/CMakeFiles/
test_conformance/computeinfo/cmake_install.cmake
test_conformance/contractions/CMakeFiles/
test_conformance/contractions/cmake_install.cmake
test_conformance/conversions/CMakeFiles/
test_conformance/conversions/cmake_install.cmake
test_conformance/events/CMakeFiles/
test_conformance/events/cmake_install.cmake
test_conformance/geometrics/CMakeFiles/
test_conformance/geometrics/cmake_install.cmake
test_conformance/half/CMakeFiles/
test_conformance/half/cmake_install.cmake
test_conformance/headers/CMakeFiles/
test_conformance/headers/cmake_install.cmake
test_conformance/images/CMakeFiles/
test_conformance/images/clCopyImage/CMakeFiles/
test_conformance/images/clCopyImage/cmake_install.cmake
test_conformance/images/clFillImage/CMakeFiles/
test_conformance/images/clFillImage/cmake_install.cmake
test_conformance/images/clGetInfo/CMakeFiles/
test_conformance/images/clGetInfo/cmake_install.cmake
test_conformance/images/clReadWriteImage/CMakeFiles/
test_conformance/images/clReadWriteImage/cmake_install.cmake
test_conformance/images/cmake_install.cmake
test_conformance/images/kernel_image_methods/CMakeFiles/
test_conformance/images/kernel_image_methods/cmake_install.cmake
test_conformance/images/kernel_read_write/CMakeFiles/
test_conformance/images/kernel_read_write/cmake_install.cmake
test_conformance/images/samplerlessReads/CMakeFiles/
test_conformance/images/samplerlessReads/cmake_install.cmake
test_conformance/integer_ops/CMakeFiles/
test_conformance/integer_ops/cmake_install.cmake
test_conformance/math_brute_force/CMakeFiles/
test_conformance/math_brute_force/cmake_install.cmake
test_conformance/multiple_device_context/CMakeFiles/
test_conformance/multiple_device_context/cmake_install.cmake
test_conformance/profiling/CMakeFiles/
test_conformance/profiling/cmake_install.cmake
test_conformance/relationals/CMakeFiles/
test_conformance/relationals/cmake_install.cmake
test_conformance/select/CMakeFiles/
test_conformance/select/cmake_install.cmake
test_conformance/thread_dimensions/CMakeFiles/
test_conformance/thread_dimensions/cmake_install.cmake
test_conformance/vec_align/CMakeFiles/
test_conformance/vec_align/cmake_install.cmake
test_conformance/vec_step/CMakeFiles/
test_conformance/vec_step/cmake_install.cmake

test_conformance/allocations/test_allocations
test_conformance/api/test_api
test_conformance/atomics/test_atomics
test_conformance/basic/test_basic
test_conformance/buffers/test_buffers
test_conformance/commonfns/test_commonfns
test_conformance/compiler/test_compiler
test_conformance/computeinfo/computeinfo
test_conformance/contractions/conformance_contractions
test_conformance/conversions/test_conversions
test_conformance/device_partition/test_device_partition
test_conformance/events/test_events
test_conformance/geometrics/test_geometrics
test_conformance/half/conformance_Test_half
test_conformance/headers/test_cl_gl_h
test_conformance/headers/test_cl_h
test_conformance/headers/test_cl_platform_h
test_conformance/headers/test_headers
test_conformance/headers/test_opencl_h
test_conformance/images/clCopyImage/test_cl_copy_images
test_conformance/images/clFillImage/test_cl_fill_images
test_conformance/images/clGetInfo/test_cl_get_info
test_conformance/images/clReadWriteImage/test_cl_read_write_images
test_conformance/images/kernel_image_methods/test_kernel_image_methods
test_conformance/images/kernel_read_write/test_image_streams
test_conformance/images/samplerlessReads/test_samplerless_reads
test_conformance/integer_ops/test_integer_ops
test_conformance/math_brute_force/conformance_bruteforce
test_conformance/mem_host_flags/test_mem_host_flags
test_conformance/multiple_device_context/test_multiples
test_conformance/profiling/test_profiling
test_conformance/relationals/test_relationals
test_conformance/select/test_select
test_conformance/thread_dimensions/test_thread_dimensions
test_conformance/vec_align/test_vecalign
test_conformance/vec_step/test_vecstep

